.mainNavigationMenu {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: flex-start;
    width: 15%;
    background-color: #fff;
    height: 100vh;
    float: left;
    margin-top: 84px; 
    padding: 10;
    border-right: 1px solid #eee; 
    overflow: hidden;
    position: fixed;
}